* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9dcd8;
    background-image: url(./Images/abstract\ background.png);
    background-position: center;
    background-size: cover;
}

.header {
    padding: 20px;
    background-color: turquoise;
    color: navy;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

.header a:hover {
    color: orchid;
}

/* .display {
    display:flex;
    background-image: url(./Images/abstract\ background.png);
    background-position: center;
    background-size: cover;
} */

.information {
    /* margin-right: 20px; */
    margin-top: 25px;
    clear: both;
    width: 20%;
    height: 100%;
    /* background-color: #d9dcd8; */
    text-align: center;
    color: navy;
    display: block;
}

h2::before {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    content: '\273A';
    color: white;
    margin-right: 5px;
}

.info-1 {
    padding: 237px 0px;
    font-size: 25px;
    border-right: solid;
}

.info-2 {
    margin-top: 30px;
    padding: 88px 0px;
    font-size: 25px;
    border-right: solid;
}

.info-3 {
    margin-top: 28px;
    padding: 47px 0px;
    font-size: 25px;
    border-right: solid;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    margin-top: 25px;
} 

.content-item {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: navy;
    color: turquoise;
    border-radius: 15px;
    text-align: center;
}

.auto-biography {
    display: flex;
    flex: row;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: navy;
    color: turquoise;
    line-height: 1.5;
    border-radius: 15px;
    flex: 0 2 100px;
}

img {
    margin-right: 50px;
    border-radius: 15px 15px;
    box-shadow: 5px 5px 15px black;
}

.projects {
    padding:15px;
    margin: 10px, 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    color: navy;
}

/* .project-card1 {
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px; 
    box-shadow: 5px 5px 15px black;
    display:flex;
    height: 300px;
    width: 1185px; 
}*/ 

 .project-card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 1px; 
    box-shadow: 5px 5px 15px black;
    display:flex;
    height: 200px;
    width: 200px;
}

.project-card:hover {
    color: white;
    box-shadow: inset 0px 0px 15px;
}

.project-link{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: navy;
    padding: 20px; 
}

#horiseon {
    background-image: url(./Images/social-media-marketing.png);
    background-position: center;
    background-size: cover; 
}

#frog {
    background-image: url(./Images/Frog_on_palm_frond.png);
    background-position: center;
    background-size: cover;
}

#Layout {
    background-image: url(./Images/CSS\ Layout.png);
    background-position: center;
    background-size: cover;
}

#mini {
    background-image: url(./Images/mini\ project.png);
    background-position: center;
    background-size: cover; 
}
.contact-info {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    font-size: 20px;
}

article div ul li a {
    text-decoration: none;
    color: turquoise;
}

article div ul li a:hover {
    color: orchid;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: turquoise;
    color: navy;
}

footer p {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    .auto-biography,
    .content,
    .content-item,
    .display
    .contact-info {
        display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      /* justify-content: center; */
    }

    aside h2{
       display: none; 
    }

    .projects {
        flex: 0 0 75%;
        max-width: 33.33%
    }

}

 @media screen and (max-width: 992px) {

     .information {
         width:100%;
        }
        Make the sidebar stack below the body
          aside {
          order: 2;
          }

     .header {
          background: #772014;
        }
    footer {
          background-color: #bb8588;
    }

   
    }
  