* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d9dcd8;
}

.header {
    padding: 20px;
    background-color: turquoise;
    color: navy;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

/* .header div ul {
    list-style-type: none;
} */

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

.header a:hover {
    color: orchid;
}

.abstract {
    height: 1000px;
    width: 100%;
    margin-bottom: -275px;
    background-image: url("./Images/abstract\ background.png");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 25px;
    font-size: 20px;
    margin-top: -2000px;
} 

.content-item {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: navy;
    color: turquoise;
}

.auto-biography {
    display: flex;
    flex: row;
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    background-color: navy;
    color: turquoise;
    line-height: 1.5;
}

img {
    margin-right: 50px;
}

.contact-info {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    font-size: 20px;
}

.information {
    /* margin-right: 20px; */
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    /* background-color: #d9dcd8; */
    text-align: center;
    color: navy;
    display: block;
    border-right: solid;
}

/* .information2 {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #d9dcd8;
    text-align: center;
    color: navy;
    display: block;
} */

#float-left {
    float: left;
    margin-right: 25px;
    padding-right: 50px;
    border-right: solid;
}
#float-right {
    float:right;
    margin-left: 25px;
    padding-left: 50px;
    border-left: solid;
}

footer {
    padding: 30px;
    text-align: center;
    background-color: turquoise;
    color: navy;
}

@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }